<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login html</title>
</head>
<body>
    <!-- simple login form -->
    <h4>Пожалуйста, войдите</h4>
    <form action="/", method="post">
        <!-- djagno csrf token -->
        {% csrf_token %}
        <!-- username and password -->
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>

</body>
</html>